@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: primaryFont;
  src: url(./assets/font/RobotoMono-SemiBold.ttf);
}
body{
  font-family: primaryFont;
}
*{
  @apply ease-in-out duration-300;
}
.navigation {
z-index: 100;
}
.btn-secondary{
  @apply bg-white py-2 px-3 rounded shadow-lg text-primary hover:bg-opacity-80;
}
.btn-primary{
  @apply bg-primary py-2 px-5 rounded shadow text-white hover:bg-opacity-80;
}
.cardPro{
  min-height: 672px;
}
.card{
  min-height: 598px;
}

